body {
    background-image: url('https://4kwallpapers.com/images/wallpapers/macos-monterey-stock-blue-light-layers-5k-5120x2880-5898.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      }
  

table{
margin:auto; 
font-size: x-small;
}


thead{
    background-color:transparent;
    font-weight: bold;
   
    



}


tbody{
    background-color:#ffffff;
}

td{
    border: 2px solid white;
}
