
<div class="container">
  <h1>Registrazione<img [src]="registerUrl" alt="Lock Icon" class="lock-icon"></h1>
      <form (ngSubmit)="onSubmit()">  
        <div class="registration-box text-center">       
            <label for="nome"> Nome </label> 
              <input name="nome" id="nome" type="text" required [(ngModel)]="dipendente.nome" value="{{dipendente.nome}}">
            <label for="cognome">Cognome </label> 
              <input name="cognome" id="cognome" type="text" required [(ngModel)]="dipendente.cognome" value="{{dipendente.cognome}}">
            <label for="cf"> Codice Fiscale </label> 
              <input name="cf" type="text" id="cf" required [(ngModel)]="dipendente.cf" value="{{dipendente.cf}}"> 
            <label for="email">Email </label> 
              <input name="email" type="email" id="email" required [(ngModel)]="dipendente.email" value="{{dipendente.email}}">
            <label for="password"> Password </label> 
              <input name="password" type="password" id="password" required [(ngModel)]="dipendente.password" value="{{dipendente.password}}">
            <label for="telefono"> Telefono </label> 
              <input name="telefono" type="text" id="telefono" required [(ngModel)]="dipendente.telefono" value="{{dipendente.telefono}}">
            <div class="btn">
                <button class="submit" type="submit"> Registra </button>
            </div> 
          </div> 
        </form>
  </div>
         