.ciao {
    width: 90%;
    height: 50%;
    margin: auto;
    margin-top: 10px;
    text-align: center; /* Allinea il contenuto al centro orizzontalmente */

}
  
  .icon {
    display: inline-block;
    font-size: 400px;
    transform-origin: top left;

    margin-top: 35px;
    width: 400px;
    height: 400px;
    padding: 30px;
    vertical-align: middle; /* Allinea al centro verticalmente */
  }
  
  .dip {
    display: inline;

    width: 700px;
    height: 100px;
    font-size: 100px;
    vertical-align: middle; /* Allinea al centro verticalmente */
  }

hr{
background-color: #131d72;
border: none;
height: 3px;
width: 95%;
}

h2{
    text-align: center;
    
}

.myData{
    width: 90%;
    height: 40%;
    margin: auto;
    background-color: #f0f0f087;
    padding: 2px;
  

}

fieldset{
    margin: auto;
    border-color: #131d72 ;
    width: 50%;
    font-size: 20px;
    color: #000000;

    text-align: center;
}

legend{
color:#131d72 ;
text-shadow: none;
text-align: left;

}