
 h1 {
    color: #000000;
    display: block; 
    text-align: center;
  }
  
  .login-box {
    background-color: rgba(255, 255, 255, 0.534);
    box-shadow: 0px 0px 50px 30px rgba(255, 255, 255, 0.822);
    border-radius: 10px;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: auto;
  }

label {
    margin: 10px;
    font-weight: bold;
    display: block; 
    font-size: larger;
}
 
input{
  width: 80%;
    padding: 10px;
    border: 2px solid #131d72;
    border-radius: 100px;
    font-size: large;
}
  
  input:focus{
  outline-color: rgb(255, 255, 255) ;
  } 

  .lock-icon {
    width: 32px;
    height: auto;
    margin-right: 10px;
    position: relative;
    top: 5px;
  }
  .text-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30%;
  }

  button[type="submit"] {
    background-color: #131d72;
    color: #fff;
    padding: 15px 20px; 
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: transform 0.2s;
}
button[type="submit"]:hover {
    transform: scale(1.05);
    background-color: #0067d5;
}
 