
<h1>Assegnazioni attive</h1>

<div class="table">
  <table>
    <thead>
      <td>Dipendente</td>
      <td>Commessa</td>
      <td>Competenza</td>

    </thead>
    <tbody>
      <tr *ngFor="let assegnazione of assegnazioni">
        <td>{{assegnazione.dipendente.cognome}}</td>
        <td>{{assegnazione.commessa.cliente}}</td>
        <td>{{assegnazione.competenza}}</td>

      </tr>
    </tbody>
</table>
</div>


<h1>Assegnazioni inattive</h1>



<div class="table">
  <table>
    <thead>
      <td>Dipendente</td>
      <td>Commessa</td>
      <td>Competenza</td>

    </thead>
    <tbody>
      <tr *ngFor="let assegnazione of assegnazioni">
        <td>{{assegnazione.dipendente.cognome}}</td>
        <td>{{assegnazione.commessa.id}}</td>
        <td>{{assegnazione.competenza}}</td>

      </tr>
    </tbody>

  </table>
</div>
