
<h1>Assegnazioni</h1>

<div class="table-container">
<table>

  <thead>
    <td>ID</td>
    <td>Commessa</td>
    <td>Competenza</td>
    <td>Dipendente</td>
    <td>Attiva</td>
  </thead>

  <tbody>
    <tr *ngFor="let assegnazione of assegnazioni">
      <td>{{assegnazione.id}}</td>
      <td>{{assegnazione.commessa}}</td>
      <td>{{assegnazione.compentenza}}</td>
      <td>{{assegnazione.dipendente.nome}}</td>
      <td>{{assegnazione.attiva ? 'Attiva' : 'Conclusa'}}</td>
      <td id="btn"><button (click)="openPopupUpdate(assegnazione)" class="modifica"><img src="assets/images/modifica.png" alt="matita di modifica"> </button> 
      <button (click)="deleteAss(assegnazione)" class="elimina">x</button> </td>

      
    </tr>
  </tbody>


</table> 

</div>

<ng-container *ngIf="showPopupUpdate">
  <app-update-ass [assegnazione]="updatedAss" (closePopup)="closePopupUpdate()" ></app-update-ass>
</ng-container>
