
<nav class="navbar">
    <div class="nav1">
        <a *ngIf="ruolo === 'HR'" routerLink="lista-dip" class="nav-link" routerLinkActive="active">Dipendenti</a>
        <a *ngIf="ruolo === 'HR'" routerLink="lista-com" class="nav-link" routerLinkActive="active">Commesse</a>
        <a routerLink="lista-cli" class="nav-link" routerLinkActive="active">Clienti</a>
        <a routerLink="timbratura" class="nav-link" routerLinkActive="active">Timbratura</a>
        <a routerLink="lista-ass" class="nav-link" routerLinkActive="active">Assegnazioni</a>
    </div>
    <div class="nav2">
        <a routerLink="registration" class="nav-link" routerLinkActive="active">Registrazione</a>
        <a routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
    </div>
</nav>

<!--
    JUNIOR/MIDDLE: TIMBRATURA E ASSEGNAZIONI E TASK
    SENIOR: TIMBRATURA E ASSEGNAZIONI E TASK
    PM: TIMBRATURA E ASSEGNAZIONI E TASK(LE TASK LE PUO CREARE)
    HR: TUTTO
-->