
<nav class="navbar">
    <div class="nav1">
        <a routerLink="lista-dip" class="nav-link" routerLinkActive="active">Dipendenti</a>
        <a routerLink="lista-com" class="nav-link" routerLinkActive="active">Commesse</a>
        <a routerLink="lista-cli" class="nav-link" routerLinkActive="active">Clienti</a>
    </div>
    <div class="nav2">
        <a routerLink="registration" class="nav-link" routerLinkActive="active">Registrazione</a>
        <a routerLink="login" class="nav-link" routerLinkActive="active">Login</a>
    </div>
</nav>